@import url("https://fonts.googleapis.com/css2?family=Tac+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  overflow: hidden;
}

.App {
  background-color: rgb(73 73 73);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Tac One", sans-serif;
  font-size: x-large;
}

.pokemons-grid {
  display: grid;
  grid-template-columns: repeat(4, 170px);
  justify-items: center;
  gap: 20px;
}

.pokemons-grid li {
  height: 220px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 6px 6px 20px 0px;
  border-radius: 15px;
}

.pokemons-grid li h2 {
  color: #3f51b5;
}

ul li {
  list-style: none;
}

.pagination {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.pagination button {
  width: 60px;
}

.loading {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  color: white;
  background-color: rgb(73 73 73);
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.089);
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 400px;
  height: 300px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
